*{
  box-sizing : border-box;
  outline: 1px solid rgba(255, 0, 0, 0.2);
}
body{
    font-family: 'Helvetica', Arial, Helvetica, sans-serif;
    font-size: 16px;
}
div.body-container{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}
h1{
    font-weight: 600;
    text-align: center;
}
div.music-library{
    display: block;
    border: 1px solid grey;
    border-radius: 5px;
    margin-left: 25%;
    margin-right: 25%;
    padding: 10px;
}
.songs-list{
    list-style-type: none;
}
.add-item-form{
    display: inline-block;
    border: 1px solid grey;
    border-radius: 5px;
    margin-left: 25%;
    margin-right: 25%;
    padding: 10px;
}
a.button{
    font-size: 12px;
    text-decoration: none;
    color: initial;
    padding: 5px;
    border-radius: 10px;
    margin: auto;
}
.button-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 30%;
}
